In [ ]:
Initial Discussion Question - Discuss the following question among your working group members at the beginning of the week 
and place your responses in this space. Or, if you have no such experience with invalid data then indicate this in the space
below. 

Have you ever worked with a set of data that included errors? Describe the situation, including how you discovered the 
errors and what you did about them.

Response 1:
worked with a dataset from kaggle which has a variety of values, data types and extra characters which are not related to 
the database and it was also a mix of 2-3 database tables and I started cleaning it by removing the unwanted data and noise.
    
Response 2:
During my under graduate I worked on data science project prediction of cancer data set is divided into 30% for 
testing and 70% for training. We found some errors in data includes missing values, incorrect labels. For missing values 
we used mean, median methods and we removed the incorrect labels which makes data set good for analysis.

Response 3:
While coordinating with other teams , we really didnt know the significance of each data value they asked us to populate 
for them. We ended up populating null instead of 0, which caused a data mapping error on their end. So we had to run a daily
script to populate 0 instead of null based on a few conditions till we sent the fix to production.

Response 4:
Our team noticed that, for a particular record, values did not match between two different tables where they were supposed 
to. Then we looked into it further and found out that it was not the only record, there were more. We informed the team 
which handles data of those tables and they took care of it.

In [2]:
import pandas as pd

In [3]:
df=pd.read_csv(r"R:/Project DE/Hwy26Crashes2019_S23.csv")
df

,Crash ID,Record Type,Vehicle ID,Participant ID,Participant Display Seq#,Vehicle Coded Seq#,Participant Vehicle Seq#,Serial #,Crash Month,Crash Day,...,Participant Cause 2 Code,Participant Cause 3 Code,Participant Event 1 Code,Participant Event 2 Code,Participant Event 3 Code,BAC Test Results Code,Alcohol Use Reported,Drug Use Reported,Participant Marijuana Use Reported,Participant Striker Flag
0,1809119,1,NaN,NaN,NaN,NaN,NaN,99992.0,3.0,14.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1809119,2,3409578.0,NaN,NaN,1.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1809119,3,3409578.0,3887884.0,1.0,1.0,1.0,NaN,NaN,NaN,...,NaN,0.0,9.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN
3,1809119,2,3409579.0,NaN,NaN,2.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1809119,3,3409579.0,3887885.0,2.0,2.0,1.0,NaN,NaN,NaN,...,NaN,NaN,9.0,9.0,0.0,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2734,1860771,1,NaN,NaN,NaN,NaN,NaN,1465.0,5.0,6.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2735,1860771,2,3503992.0,NaN,NaN,1.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2736,1860771,3,3503992.0,3991482.0,1.0,1.0,1.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN
2737,1860771,2,3503993.0,NaN,NaN,2.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2738,1860771,3,3503993.0,3991483.0,2.0,2.0,1.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN

In [4]:
df.describe()

,Crash ID,Record Type,Vehicle ID,Participant ID,Participant Display Seq#,Vehicle Coded Seq#,Participant Vehicle Seq#,Serial #,Crash Month,Crash Day,...,Participant Cause 2 Code,Participant Cause 3 Code,Participant Event 1 Code,Participant Event 2 Code,Participant Event 3 Code,BAC Test Results Code,Alcohol Use Reported,Drug Use Reported,Participant Marijuana Use Reported,Participant Striker Flag
count,2.739000e+03,2739.000000,2.231000e+03,1.216000e+03,1216.000000,2207.000000,1216.000000,508.000000,508.000000,508.000000,...,0.0,130.000000,361.000000,345.000000,1216.0,0.0,0.0,0.0,0.0,0.0
mean,1.845790e+06,2.258488,3.439235e+06,3.960916e+06,1.896382,1.597191,1.200658,5459.167323,6.011811,15.775591,...,NaN,67.338462,1.000000,0.875362,0.0,NaN,NaN,NaN,NaN,NaN
std,8.949581e+03,0.750211,3.591080e+05,1.958658e+04,1.033172,0.643294,0.520398,10171.318598,3.556234,8.401937,...,NaN,32.495332,2.683282,2.609041,0.0,NaN,NaN,NaN,NaN,NaN
min,1.809119e+06,1.000000,0.000000e+00,3.887884e+06,1.000000,1.000000,1.000000,3.000000,1.000000,1.000000,...,NaN,0.000000,0.000000,0.000000,0.0,NaN,NaN,NaN,NaN,NaN
25%,1.841013e+06,2.000000,3.467426e+06,3.950389e+06,1.000000,1.000000,1.000000,1504.750000,3.000000,8.000000,...,NaN,43.750000,0.000000,0.000000,0.0,NaN,NaN,NaN,NaN,NaN
50%,1.847483e+06,2.000000,3.479572e+06,3.964908e+06,2.000000,2.000000,1.000000,3280.500000,6.000000,16.000000,...,NaN,86.000000,0.000000,0.000000,0.0,NaN,NaN,NaN,NaN,NaN
75%,1.852367e+06,3.000000,3.488816e+06,3.975887e+06,2.000000,2.000000,1.000000,7332.500000,9.000000,23.000000,...,NaN,86.000000,0.000000,0.000000,0.0,NaN,NaN,NaN,NaN,NaN
max,1.860771e+06,3.000000,3.503993e+06,3.991483e+06,9.000000,4.000000,4.000000,99992.000000,12.000000,31.000000,...,NaN,87.000000,9.000000,9.000000,0.0,NaN,NaN,NaN,NaN,NaN

In [5]:
list(df)

['Crash ID',
 'Record Type',
 'Vehicle ID',
 'Participant ID',
 'Participant Display Seq#',
 'Vehicle Coded Seq#',
 'Participant Vehicle Seq#',
 'Serial #',
 'Crash Month',
 'Crash Day',
 'Crash Year',
 'Week Day Code',
 'Crash Hour',
 'County Code',
 'City Section ID',
 'Urban Area Code',
 'Functional Class Code',
 'NHS Flag',
 'Highway Number',
 'Highway Suffix',
 'Roadway Number',
 'Highway Component',
 'Mileage Type',
 'Connection Number',
 'Linear Reference System (LRS)',
 'Latitude Degrees',
 'Latitude Minutes',
 'Latitude Seconds',
 'Longitude Degrees',
 'Longitude Minutes',
 'Longitude Seconds',
 'Latitude (Decimal Degrees)',
 'Longitude (Decimal Degrees)',
 'Special Jurisdiction',
 'Jurisdiction Group',
 'Street Number',
 'Nearest Intersecting Street Number',
 'Intersection Sequence Number',
 'Distance from Intersection',
 'Direction From Intersection',
 'Milepoint',
 'Posted Speed Limit',
 'Road Character',
 'Off Roadway Flag',
 'Intersection Type',
 'Intersection Related Flag',
 'Roundabout Flag',
 'Driveway Related Flag',
 'Number of Lanes',
 'Number of Turning Legs',
 'Median Type',
 'Impact Location',
 'Crash Type',
 'Collision Type',
 'Crash Severity',
 'Weather Condition',
 'Road Surface Condition',
 'Light Condition',
 'Traffic Control Device (TCD)',
 'TCD Functional Flag',
 'Investigating Agency',
 'Crash Level Event 1 Code',
 'Crash Level Event 2 Code',
 'Crash Level Event 3 Code',
 'Crash Level Cause 1 Code',
 'Crash Level Cause 2 Code',
 'Crash Level Cause 3 Code',
 'School Zone Indicator',
 'Work Zone Indicator',
 'Secondary Crash Indicator',
 'Alcohol-Involved Flag',
 'Drugs Involved Flag',
 'Crash Marijuana Involved Flag',
 'Speed Involved Flag',
 'Crash Level Hit & Run Flag',
 'Population Range Code',
 'Road Control',
 'Route Type',
 'Route Number',
 'Region ID',
 'District ID',
 'Segment Marker ID',
 'Segment Point LRS Measure',
 'Unlocatable Flag',
 'Total Vehicle Count',
 'Total Fatality Count',
 'Total Suspected Serious Injury (A) Count',
 'Total Suspected Minor Injury (B) Count',
 'Total Possible Injury (C) Count',
 'Total Non-Fatal Injury Count',
 'Total Un-Injured  Children Age 00-04',
 'Total Un-Injured Persons',
 'Total Pedestrian Count',
 'Total Pedestrian Fatality Count',
 'Total Pedestrian Non-Fatal Injury Count',
 'Total Pedalcyclist Count',
 'Total Pedalcyclist Fatality Count',
 'Total Pedalcyclist Non-Fatal Injury Count',
 'Total Unknown Non-Motorist Count',
 'Total Unknown Non-Motorist Fatality Count',
 'Total Unknown Non-Motorist Injury Count',
 'Total Vehicle Occupant Count',
 'Total Count of Persons Involved',
 'Total Persons Using Safety Equipment  ',
 'Total Persons Not Using Safety Equipment',
 'Total Persons Safety Equipment Use Unknown',
 'Vehicle Ownership Code',
 'Vehicle Special Use Code',
 'Vehicle Type Code',
 'Emergency Use Flag',
 'Number of Trailers',
 'Vehicle Movement Code',
 'Vehicle Travel Direction From',
 'Vehicle Travel Direction To',
 'Vehicle Action Code',
 'Vehicle Cause 1 Code',
 'Vehicle Cause 2 Code',
 'Vehicle Cause 3 Code',
 'Vehicle Event 1 Code',
 'Vehicle Event 2 Code',
 'Vehicle Event 3 Code',
 'Vehicle Exceeded Posted Speed Flag',
 'Vehicle Hit & Run Flag',
 'Safety Equipment Used Quantity',
 'Safety Equipment Un-used Quantity',
 'Safety Equipment Use Unknown Quantity',
 'Vehicle Occupant Count',
 'Vehicle Striking Flag',
 'Participant Type Code',
 'Participant Hit & Run Flag',
 'Public Employee Flag',
 'Sex',
 'Age',
 'Driver License Status',
 'Driver Residence Status',
 'Injury Severity',
 'Participant Safety Equipment Use Code',
 'Airbag Deployment',
 'Non-Motorist Movement Code',
 'Non-Motorist Travel Direction From',
 'Non-Motorist Travel Direction To',
 'Non-Motorist Location',
 'Participant Action',
 'Participant Error 1 Code',
 'Participant Error 2 Code',
 'Participant Error 3 Code',
 'Participant Cause 1 Code',
 'Participant Cause 2 Code',
 'Participant Cause 3 Code',
 'Participant Event 1 Code',
 'Participant Event 2 Code',
 'Participant Event 3 Code',
 'BAC Test Results Code',
 'Alcohol Use Reported',
 'Drug Use Reported',
 'Participant Marijuana Use Reported',
 'Participant Striker Flag']

In [6]:
df1=df[['Crash Month',
 'Crash Day',
 'Crash Year']].copy()
df1

      Crash Month  Crash Day  Crash Year
0             3.0       14.0      2019.0
1             NaN        NaN         NaN
2             NaN        NaN         NaN
3             NaN        NaN         NaN
4             NaN        NaN         NaN
...           ...        ...         ...
2734          5.0        6.0      2019.0
2735          NaN        NaN         NaN
2736          NaN        NaN         NaN
2737          NaN        NaN         NaN
2738          NaN        NaN         NaN

[2739 rows x 3 columns]

In [60]:
# “Every crash occurred on a date”
count=0
count1=0
lista={} # storeing records in dir
for index, row in df1.iterrows():
    if pd.isnull(row['Crash Year']) == False and row['Crash Year'] != 'nan':   # checking the condition 
                res=str(int(row['Crash Year']))+str(int(row['Crash Day']))+str(int(row['Crash Month'])) # converting floar to int to str
                lista[res]=1
                count1=count1+1
                
for u in lista: # counting the number of records in dir 
    count=count+1
print("Number of day in year accidentes occured: ",count)

Number of day in year accidentes occured:  266

In [ ]:
# “Every crash occurred during year 2019”

for index, row in df1.iterrows():
    if pd.isnull(row['Crash Year']) == False and row['Crash Year'] != 'nan':   # checking the condition 
                res=str(int(row['Crash Year']))+str(int(row['Crash Day']))+str(int(row['Crash Month'])) # converting floar to int to str
                lista[res]=1
                count1=count1+1

In [58]:
#“If a crash record has a latitude coordinate then it should also have a longitude coordinate”
lista={}
count=0
count1=0
for index, row in df.iterrows():
    if pd.isnull(row['Latitude Degrees']) == False and row['Latitude Degrees'] != 'nan': 
        if pd.isnull(row['Longitude Degrees']) == False and row['Longitude Degrees'] != 'nan':     
                count1=count1+1
    else:
        count=count+1
print("crash record has a latitude coordinate and longitude: ", count1)   
print("null values : ",count)

crash record has a latitude coordinate and longitude:  508
null values :  2231

In [62]:
#Every vehicle listed in the crash data was part of a known crash
ista={}
count=0
count1=0
for index, row in df.iterrows():
    if pd.isnull(row['Vehicle ID']) == False and row['Vehicle ID'] != 'nan': 
        if pd.isnull(row['Crash ID']) == False and row['Crash ID'] != 'nan':     
                count1=count1+1
    else:
        count=count+1

print(count1)

2231

In [64]:
#Every vehicle listed in the crash data was part of a known crash and Participant ID
ista={}
count=0
count1=0
for index, row in df.iterrows():
    if pd.isnull(row['Crash ID']) == False and row['Crash ID'] != 'nan':
        if pd.isnull(row['Vehicle ID']) == False and row['Vehicle ID'] != 'nan': 
            if pd.isnull(row['Participant ID']) == False and row['Participant ID'] != 'nan':
                count1=count1+1
    else:
        count=count+1

print(count1)

1216

In [65]:
#There were thousands of crashes but not millions
ista={}
count=0
count1=0
for index, row in df.iterrows():
    if pd.isnull(row['Crash ID']) == False and row['Crash ID'] != 'nan':
        count=count+1
        
    if pd.isnull(row['Vehicle ID']) == False and row['Vehicle ID'] != 'nan': 
                count1=count1+1
            

print(count)
print(count1)

2739
2231

In [74]:
#unique vehicle and crash Id 
ista={}
count=0
count1=0
for index, row in df.iterrows():
    if pd.isnull(row['Crash ID']) == False and row['Crash ID'] != 'nan':
      
        if pd.isnull(row['Vehicle ID']) == False and row['Vehicle ID'] != 'nan': 
               
                res=str(int(row['Crash ID']))+str(int(row['Vehicle ID'])) 
                lista[res]=1
                count1=count1+1
                
for u in lista: # counting the number of records in dir 
    count=count+1
    
print("unique count",count)
print("total count",count1)

unique count 1301
total count 2231

In [80]:
#crashes are evenly/uniformly distributed throughout the months of the year
ista={}
count=0
count1=0
month=[0,0,0,0,0,0,0,0,0,0,0,0,0]
for index, row in df1.iterrows():
    if pd.isnull(row['Crash Year']) == False and row['Crash Year'] != 'nan':   # checking the condition 
                month[int(row['Crash Month'])]+=1
                count1=count1+1
                
for x in range(1,12):
    print("month",x,":",month[x])

month 1 : 56
month 2 : 46
month 3 : 57
month 4 : 53
month 5 : 41
month 6 : 36
month 7 : 37
month 8 : 33
month 9 : 34
month 10 : 36
month 11 : 35

In [95]:
#crashes are evenly/uniformly distributed throughout the week  of the year
import datetime

date = datetime.date(2022, 9, 1)
ista={}
count=0
count1=0
week1=[]
for x in range(100):
    week1.append(0)
for index, row in df1.iterrows():
    if pd.isnull(row['Crash Year']) == False and row['Crash Year'] != 'nan':
                date=datetime.date(int(row['Crash Year']),int(row['Crash Month']),int(row['Crash Day']))
                year_week = date.strftime('%V')
                week1[int(year_week)]+=1
                count1=count1+1
for u in range(52):  
    print("week",u,week1[u])

week 0 0
week 1 8
week 2 23
week 3 13
week 4 8
week 5 7
week 6 10
week 7 9
week 8 17
week 9 12
week 10 8
week 11 12
week 12 17
week 13 15
week 14 13
week 15 19
week 16 17
week 17 2
week 18 9
week 19 8
week 20 12
week 21 8
week 22 8
week 23 11
week 24 5
week 25 8
week 26 10
week 27 3
week 28 9
week 29 8
week 30 8
week 31 11
week 32 11
week 33 7
week 34 7
week 35 6
week 36 7
week 37 7
week 38 8
week 39 10
week 40 9
week 41 9
week 42 10
week 43 7
week 44 5
week 45 13
week 46 4
week 47 11
week 48 6
week 49 8
week 50 13
week 51 12